---
layout: default
body_classes: page-blog
---

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include framework/blocks/sections/heading.html
        title=page.title
        description=page.description
        %}
      </div>
    </div>
  </div>
</div>

{% assign cards = site.dinge %}
{% if cards.size > 0 %}
<div class="section pt-0">
  <div class="container">
    <div class="row">
      {% for card in cards limit: limit %}
      <div
        class="col-12 col-md-6 mb-gutter mt-gutter {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mt-md-0">
        {% include theme/cards/card-project.html
        title=card.title
        description=card.description
        thumbnail=card.thumbnail
        categories=card.categories
        year=card.year
        url=card.url
        format=card.format
        %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}