---
layout: default
body_classes: page-project
---

{% assign limit = page.gallery_limit | default: nil %}

<div class="section">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-6">

        {% if page.title %}
          <div class="project-heading">
            <h1>{{ page.title }}</h1>
          </div>
        {% endif %}

        {% if page.categories %}
          <div class="project-categories">
          {% include framework/blocks/components/categories-badges.html 
              categories=page.categories
          %}
          </div>
        {% endif %}

        <div class="content">{{ content }}</div>

        {% if page.year or page.format or page.role %}
          <div class="project-stats">
          {% if page.year %}
            <div class="project-date">
              <strong>Jahr </strong><span>{{ page.year }}</span>
            </div>
          {% endif %}

          {% if page.format %}
            <div class="project-client">
              <strong>Format </strong><span>{{ page.format }}</span>
            </div>
          {% endif %}

          {% if page.role %}
            <div class="project-role">
              <strong>Role </strong><span>{{ page.role }}</span>
            </div>
          {% endif %}
          </div>
        {% endif %}

      </div>

      <div class="col-12 col-md-6">
        <div class="project-image">
          <div class="gallery gallery-1">
          {% for item in page.gallery limit: limit %}
            <div class="gallery-item">
              <div class="gallery-image"><img src="{{ item.image | relative_url }}"/></div>
              <div class="gallery-caption">{{ item.caption }}</div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
